/* Navigation Menu Styles */
.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.cabecalho .box--left {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 30%;
}

nav {
    padding: 1rem 0 1rem 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.4rem;
}

.cabecalho .logo img {
    height: 50px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

nav ul li a:last-child {
    padding: 0.5rem 0rem 0.5rem 1rem;
}

nav ul li a:hover {
    background-color: rgba(218, 218, 218, 0.1);
    border-radius: 4px;
}

.cabecalho .box-center {
    width: 30%;
    height: 50px;
}

.cabecalho .box-center input[type="text"] {
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    background-color: #f1f1f1;
    height: 50px;
    padding-left: 30px;
}

.cabecalho .box-center button:hover {
    background-color: #555;
}

.cart { 
    width: 30%;
    text-align: right;
}

.cart {
    font-size: 18px;
    color: #333;
    text-decoration: none;
    position: relative;
}

.cart a {
    color: #333;
    text-decoration: none;
}
