.promocoes {
    padding: 0px 0;
    width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
}


.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.carousel-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    padding: 10px 0;
    width: 100%;
}

.carousel-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}


.promocoes__carrousel .carrousel_img {
    margin: 10px;

}

.promocoes__carrousel .carrousel_img .img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    background-color: blue;
}

